<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Interest #<%= @interest.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/interests" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_member == @interest.user %>
          <a href="/interests/<%= @interest.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit interest
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_member == @interest.user %>
          <a href="/delete_interest/<%= @interest.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete interest
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Member
      </dt>
      <dd>
        <% if @interest.user.present? %>
          <a href="/members/<%= @interest.member_id %>">
            <%= @interest.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Event
      </dt>
      <dd>
        <% if @interest.event.present? %>
          <a href="/events/<%= @interest.event_id %>">
            <%= @interest.event.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@interest.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@interest.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

