<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Member #<%= @member.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/members" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/members/<%= @member.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit member
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @member.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @member.password %>
      </dd>

      <dt>
        Username
      </dt>
      <dd>
        <%= @member.username %>
      </dd>

      <dt>
        Cochair flag
      </dt>
      <dd>
        <%= @member.cochair_flag %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@member.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@member.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "member_templates/member_events" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "member_templates/member_interests" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "member_templates/member_attendances" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "member_templates/member_reviews" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "member_templates/member_attending_events" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "member_templates/member_interested_events" %>
  </div>
</div>
