<h1>
  Edit review #<%= @review.id %>
</h1>

<hr>

<!-- Form review start -->
<form action="/update_review/<%= @review.id %>" method="post">
<!-- Form review end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <input type="text" id="body" name="body" class="form-control" value="<%= @review.body %>">
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <!-- Label and input for member_id start -->
  <!-- Label and input for member_id end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <!-- Input for event_id start -->
    <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :name, @review.event_id), :class => "form-control") %>
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <!-- Label and input for rating start -->
  <div class="form-group">
    <label for="rating">
      Rating
    </label>

    <!-- Input for rating start -->
    <input type="text" id="rating" name="rating" class="form-control" value="<%= @review.rating %>">
    <!-- Input for rating end -->
  </div>
  <!-- Label and input for rating end -->

  <button class="btn btn-block btn-outline-secondary">
    Update review
  </button>
</form>

<hr>

<a href="/reviews">
  Go back
</a>
